
body {
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url('Body-Background.jpg') ;
    background-size: cover;
}
.heading  { 
    position: relative;
    left: 570px;
    color:whitesmoke;
    font-weight: 800;
    font-size: 98px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-top: 1%;
    margin-bottom: -120px;
    text-shadow: 10px 13px 5px #000000;
    
}

/* Display Styles................................................... */


.displayParent {
    height: 75%;
    width: 40%;
    position: relative;
    left: 28%;
    top: 15%;
    display: flex;
    flex-direction: row;
    border: 3px solid black;
justify-content: flex-start;
background-color: #888888;
box-shadow: 15px 10px 5px black;
border-radius: 35px 65px;
margin-top: -5px;
}

.displayChild{
    background-color:rgb(212, 202, 202);
    height: 98%;
    width: 95%;
    border-radius: 35px;
    border: 2px solid black;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    flex: 1 2 1;
    box-sizing: border-box;
}

.screen1 {
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    background-color: white;
    height: 90%;
    width:90%;
    border: 1px solid #888888;
    margin-left: 35px;
    margin-top: 30px;
    flex-wrap: wrap-reverse;
    box-sizing: border-box;
    overflow: hidden;
    
}
.screenChild {
    flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 1;
   height: auto;
   width: auto;
border: 1px solid #888888;  
max-height: fit-content;

}

.screenChild:hover{
    background-color: blue;
}

/* ControlPanel.......................................................... */


.Control-Panel {
    
    position: relative;
    bottom: 57%;
    left: 71%;
    height: 70%;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.range {
    height: 50px;
    width: 200px;

}

.black {
    height: 120px;
    width: 90px;
    margin-bottom: 30px;
    border-radius: 50%;
    box-shadow: 10px 5px 9px ;
    border: 3px solid black;
    background-color: black;
}

.label {
    color: white    ;
    font-size: 45px; 
    font-weight: 600;   
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;
text-shadow: 10px 10px 5px #000000;
}

.rainbow {
    height: 120px;
    width: 90px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 3px solid black;
    box-shadow: 10px 5px 5px ;
    background-image: linear-gradient(to right, violet,indigo,blue,green,yellow,orange,red); 
    ;
}

.color-selection {
    height: 120px;
    width: 90px;
    margin-bottom: 30px;
    box-shadow: 10px 5px 5px;
    border: 3px solid black;
    border-radius: 15px;

}

.erase {
    font-size: 25px;
    font-weight: 600;
    height: 120px;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid black;
    box-shadow: 10px 5px 5px ;
}

